@page
@model WebApp.Pages.EmployeeBossHistorys.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Reporting Officer History</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="NewBossHistory.ApplicationUserId" type="hidden" />
            <div class="form-group">
                <label class="control-label">Reporting Officer</label>
                <select asp-for="NewBossHistory.BossUserId" class="form-control" asp-items="Model.ReportingOfficerNameSL"></select>
                <span asp-validation-for="NewBossHistory.BossUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBossHistory.FromDate" class="control-label"></label>
                <input asp-for="NewBossHistory.FromDate" class="form-control" type="date" />
                <span asp-validation-for="NewBossHistory.FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBossHistory.ToDate" class="control-label"></label>
                <input asp-for="NewBossHistory.ToDate" class="form-control" type="date" />
                <span asp-validation-for="NewBossHistory.FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-usrId="@Model.NewBossHistory.ApplicationUserId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
