@page
@model WebApp.Pages.EmployeeGradeHistorys.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EmployeeGradeHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpGradeHistItem.GradeId" class="control-label"></label>
                <select asp-for="EmpGradeHistItem.GradeId" class="form-control" asp-items="Model.GradeNameSL"></select>
                <span asp-validation-for="EmpGradeHistItem.GradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input asp-for="EmpGradeHistItem.FromDate" class="form-control" type="date" />
                <span asp-validation-for="EmpGradeHistItem.FromDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EmpGradeHistItem.Id" />
            <input type="hidden" asp-for="EmpGradeHistItem.ApplicationUserId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-usrId="@Model.EmpGradeHistItem.ApplicationUserId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
