@page
@model WebApp.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Register New User";
}

<div class="row justify-content-center align-items-center">
    <div class="col col-md-4 col-lg-4 col-xl-3">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewUser.Username"></label>
                <input asp-for="NewUser.Username" class="form-control" />
                <span asp-validation-for="NewUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.DisplayName"></label>
                <input asp-for="NewUser.DisplayName" class="form-control" />
                <span asp-validation-for="NewUser.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.UserRole"></label>
                <select asp-for="NewUser.UserRole" class="form-control" asp-items="Model.URoles"></select>
                <span asp-validation-for="NewUser.UserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Email"></label>
                <input asp-for="NewUser.Email" class="form-control" />
                <span asp-validation-for="NewUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.PhoneNumber"></label>
                <input asp-for="NewUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="NewUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Password"></label>
                <input asp-for="NewUser.Password" class="form-control" />
                <span asp-validation-for="NewUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.ConfirmPassword"></label>
                <input asp-for="NewUser.ConfirmPassword" class="form-control" />
                <span asp-validation-for="NewUser.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.OfficeId"></label>
                <input asp-for="NewUser.OfficeId" class="form-control" />
                <span asp-validation-for="NewUser.OfficeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.DesignationId"></label>
                <select asp-for="NewUser.DesignationId" class="form-control" asp-items="Model.DesigOptions"></select>
                <span asp-validation-for="NewUser.DesignationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Department</label>
                <select asp-for="NewUser.DepartmentId" class="form-control" asp-items="Model.DeptOptions"></select>
                <span asp-validation-for="NewUser.DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewUser.FatherName"></label>
                <input asp-for="NewUser.FatherName" class="form-control" />
                <span asp-validation-for="NewUser.FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.DoB"></label>
                <input asp-for="NewUser.DoB" class="form-control" type="date" />
                <span asp-validation-for="NewUser.DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.DateofJoining"></label>
                <input asp-for="NewUser.DateofJoining" class="form-control" type="date" />
                <span asp-validation-for="NewUser.DateofJoining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select asp-for="NewUser.Gender" class="form-control" asp-items="Model.GenderOptions"></select>
                <span asp-validation-for="NewUser.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Specially Abled</label>
                <select asp-for="NewUser.PH_SpeciallyAbled" class="form-control" asp-items="Model.SpeciallyAbledOptions"></select>
                <span asp-validation-for="NewUser.PH_SpeciallyAbled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ethnic Origin</label>
                <select asp-for="NewUser.EthnicOrigin" class="form-control" asp-items="Model.EthnicOriginOptions"></select>
                <span asp-validation-for="NewUser.EthnicOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.DomicileState"></label>
                <input asp-for="NewUser.DomicileState" class="form-control" />
                <span asp-validation-for="NewUser.DomicileState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Religion"></label>
                <input asp-for="NewUser.Religion" class="form-control" />
                <span asp-validation-for="NewUser.Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Aadhar"></label>
                <input asp-for="NewUser.Aadhar" class="form-control" />
                <span asp-validation-for="NewUser.Aadhar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.UAN"></label>
                <input asp-for="NewUser.UAN" class="form-control" />
                <span asp-validation-for="NewUser.UAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.PRAN"></label>
                <input asp-for="NewUser.PRAN" class="form-control" />
                <span asp-validation-for="NewUser.PRAN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewUser.IsActive"></label>
                <input asp-for="NewUser.IsActive" class="form-control" />
                <span asp-validation-for="NewUser.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.IsTwoFactorEnabled"></label>
                <input asp-for="NewUser.IsTwoFactorEnabled" class="form-control" />
                <span asp-validation-for="NewUser.IsTwoFactorEnabled" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create User</button>
        </form>
        <a asp-page="/Users/Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
