@page
@using Core.Enums
@model WebApp.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit User";
}

<div class="row justify-content-center align-items-center">
    <div class="col col-md-4 col-lg-4 col-xl-3">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="Edit">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UpUser.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="UpUser.Username"></label>
                <input asp-for="UpUser.Username" class="form-control" />
                <span asp-validation-for="UpUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.DisplayName"></label>
                <input asp-for="UpUser.DisplayName" class="form-control" />
                <span asp-validation-for="UpUser.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.UserRole"></label>
                <select asp-for="UpUser.UserRole" class="form-control" asp-items="Model.URoles"></select>
                <span asp-validation-for="UpUser.UserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.Email"></label>
                <input asp-for="UpUser.Email" class="form-control" />
                <span asp-validation-for="UpUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.PhoneNumber"></label>
                <input asp-for="UpUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="UpUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.Password"></label>
                <input asp-for="UpUser.Password" class="form-control" />
                <span asp-validation-for="UpUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.ConfirmPassword"></label>
                <input asp-for="UpUser.ConfirmPassword" class="form-control" />
                <span asp-validation-for="UpUser.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.OfficeId"></label>
                <input asp-for="UpUser.OfficeId" class="form-control" />
                <span asp-validation-for="UpUser.OfficeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.FatherName"></label>
                <input asp-for="UpUser.FatherName" class="form-control" />
                <span asp-validation-for="UpUser.FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.DoB"></label>
                <input asp-for="UpUser.DoB" class="form-control" type="date" />
                <span asp-validation-for="UpUser.DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.DateofJoining"></label>
                <input asp-for="UpUser.DateofJoining" class="form-control" type="date" />
                <span asp-validation-for="UpUser.DateofJoining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.Gender"></label>
                <select asp-for="UpUser.Gender" class="form-control" asp-items="@(new SelectList(GenderEnum.List, "Value", "Name"))"></select>
                <span asp-validation-for="UpUser.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.EthnicOrigin"></label>
                <select asp-for="UpUser.EthnicOrigin" class="form-control" asp-items="@(new SelectList(EthnicOriginEnum.List, "Value", "Name"))"></select>
                <span asp-validation-for="UpUser.EthnicOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.DomicileState"></label>
                <input asp-for="UpUser.DomicileState" class="form-control" />
                <span asp-validation-for="UpUser.DomicileState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.Religion"></label>
                <input asp-for="UpUser.Religion" class="form-control" />
                <span asp-validation-for="UpUser.Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.SpeciallyAbled"></label>
                <select asp-for="UpUser.SpeciallyAbled" class="form-control" asp-items="@(new SelectList(SpeciallyAbledEnum.List, "Value", "Name"))"></select>
                <span asp-validation-for="UpUser.SpeciallyAbled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.Aadhar"></label>
                <input asp-for="UpUser.Aadhar" class="form-control" />
                <span asp-validation-for="UpUser.Aadhar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.PAN"></label>
                <input asp-for="UpUser.PAN" class="form-control" />
                <span asp-validation-for="UpUser.PAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.UAN"></label>
                <input asp-for="UpUser.UAN" class="form-control" />
                <span asp-validation-for="UpUser.UAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.PRAN"></label>
                <input asp-for="UpUser.PRAN" class="form-control" />
                <span asp-validation-for="UpUser.PRAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.IsActive"></label>
                <input asp-for="UpUser.IsActive" class="form-control" />
                <span asp-validation-for="UpUser.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpUser.IsTwoFactorEnabled"></label>
                <input asp-for="UpUser.IsTwoFactorEnabled" class="form-control" />
                <span asp-validation-for="UpUser.IsTwoFactorEnabled" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
        <a asp-page="/Users/Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}